{% extends 'index.html' %}

{% block body %}
<div class="container mx-auto mt-5 bg-white min-h-screen" data-theme="light">
  <div class="relative h-96 select-none">
    <img src="{{ dorm.image_url }}" class="object-cover w-full h-full" alt="{{ dorm.name }}">
    <div class="absolute inset-0 flex flex-col items-center justify-center mt-10">
      <h1 class="text-4xl font-bold text-gray-100">{{ dorm.name }}</h1>
      <div class="text-white py-3 px-3 w-auto bg-gray-950 rounded-lg mt-3 flex flex-row items-center justify-center">
        <p class="text-xl font-semibold text-white">Overall Rating:</p>
        <span class="text-4xl font-bold ml-2 text-white">{{ dorm_avg_reviews[dorm.name] }}</span>
      </div>
      <div class="absolute bottom-5 right-5">
        <a href="{{ url_for('create_post', dorm_name=dorm.name) }}" class="btn btn-accent border-gray-300 rounded-none bg-white text-black hover:bg-gray-200">Write Anonymous Review</a>
      </div>
    </div>
  </div>
  
  <div class="bg-cyan-500 rounded-lg p-4 mt-5 text-center">
    <p class="text-white select-none">{{ dorm.description }}</p>
  </div>

  <div class="container mx-auto mt-5 bg-white rounded-lg shadow-md p-4">
    <p class="text-s font-semibold text-black ml-2 mb-2">{{post_count}} reviews</p>
    <ul>
      {% if posts %}
      {% for post in posts %}
      <div class="bg-white rounded-lg shadow-md p-4 mb-4 relative border border-gray-200">
        
        <div class="flex items-center"> 

            <div class="flex flex-col items-center">
            <p class="text-gray-500">{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
            <div class="flex items-center select-none">
            <p class="text-2xl font-semibold text-gray-800 mx-3">Rating:</p>
          </div>
            <span class="text-5xl font-bold text-gray-800 mb-2 text-center">{{ post.review }}</span>
          </div>
          <div class="border-r border-gray-200 h-20 my-3 mx-5"></div> 
          <div class="w-4/5">
            <p class="text-gray-800 break-words">{{ post.content }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="flex items-center justify-center">
        <span class="text-2xl font-bold text-gray-800 mt-10">No reviews yet! Please leave a review.</span> 
      </div>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock body %}
