{% extends 'base.html' %}

{% block content %}
<style>

  .navbar a {
    color: white;
  }

  .navbar a:hover {
    color: #c3e4fa; 
  }

  .card:hover {
    transform: scale(1.05); 
  }

  @media (max-width: 768px) {
    .card {
      width: 100%; 
    }
  }

  .card {
    color: #333; 
  }

</style>
<div id="container" >
  <div class="min-h-screen bg-white"> <!-- Add the "bg-white" class here -->
    <div class="navbar bg-cyan-500 shadow z-50">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">RateMyUMNDorm</a>
      </div>
      <div class="flex-none">
        <div class="dropdown dropdown-end">
        </div>

        {% if current_user.is_authenticated %}
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img src="https://umn.lol/images/Goldy.png" />
            </div>
          </label>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
        {% else %}
        <a class="btn btn-neutral mr-5" href="{{url_for('login')}}">LOGIN</a>
        <a class="btn btn-neutral" href="{{url_for('register')}}">SIGN UP</a>
        {% endif %}
      </div>
    </div>
    <div>
    </div>

    {% block body %}
  <div id="dorms" class="flex flex-row flex-wrap gap-9 justify-center mt-20 mb-20">
    {% for dorm in dorms %}
    <a class="cursor-pointer" href="{{url_for('dorm', dorm_name=dorm.name)}}">
    <div class="card w-80 bg-gray-100 transition ease-in-out duration-300 hover:bg-white select-none rounded-none shadow-xl">
        <figure class="max-h-44"><img src="{{dorm.image_url}}" alt="dorm" /></figure>
        <div class="card-body shadow-xl" >
          <h2 class="card-title">{{ dorm.name }}</h2>
          <p>Overall Rating: <span class="font-bold">{{dorm_avg_reviews[dorm.name]}}</span></p>
          <div class="card-actions justify-end">
          </div>
        </div>
      </div>
      {% endfor %}
    </a>
    </div>
  </div>
</div>
{% endblock body %}
{% endblock content %}
